body {
    background-color: cadetblue;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 265px;
    padding-top: 8px;
    padding-bottom: 24px;
    padding-left: 24;
    padding-right: 24;
}
html {
    background: radical-
        gradient(circle, skyblue,
        skyblue 50%, LightCyan 50%, Skyblue);
    background-size: 8px 8px;
}
nav ul {
    list-style-type: none;
    background-color: cadetblue;
    border: 4px solid #111111;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 16px;
}
nav ul li {
    display: inline;
    border-right: 2px solid #111111;
    padding-right: 8px;
    padding-left: 8px;
}
nav ul li:last-child {
    border-right: none;
}
nav ul li a {
    text-decoration: none;
    color: #111111;
}
h1 {
    color: #111111;
    font-family: sans-serif;
    font-size: 32px;
}
nav ul li {
    display: inline;
    border-right: 2px;
    padding-right: 8px;
}
nav ul {
    list-style-type: none;
    background-color: white;
    border: 4px solid #111111;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 16px; 
}
nav ul li {
    display: inline;
    border-right: 2px solid #111111;
    padding-right: 8px;
    padding-left: 8px;
}
nav ul li: last-child {
    border-right: none;
}
nav ul li a {
    text-decoration: none;
    color: cornflowerblue;
}
p. subtitle {
    border: 4px solid #00AFEB;
    border-radius: 10px;
    padding: 16px;
    background-color: #C5EBFB;
}
p. subtitle::before {
    color:black;
    content:none;
    font-weight: bold;
}
p. link {
    border: 3px solid black;
}
h2 {
    border-color: aqua;
    border: 4px solid aqua;
}
h3 {
    border: 4px solid red;
}